<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пример FastAPI с Jinja2</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="templates/scripts/jquery-3.7.1.min.js"></script>
    <script src="templates/scripts/test.js"></script>

</head>
<body>
    <button id="testButton">Нажми меня</button>

    <h1>Привет, {{ name }}!</h1>
    <p>Это пример страницы, отрендеренной с помощью Jinja2.</p>
    <form method="GET" action="/your-action-url">
        <label for="gpkz">Выберите ГПКЗ:</label>
        <select name="gpkz" id="gpkz">
            {% for item in data %}
            <option>{{ item['Id КС'] }}</option>
            {% endfor %}
        </select>
    
        <label for="city">Выберите город:</label>
        <select name="city" id="city">
                {% for item in data %}
                <option>{{ item['Регион победителя КС'] }}</option>
                {% endfor %}
        </select>
    
        <button type="submit">Фильтровать</button>
    </form>
    <ul>
        {% for item in data %}
            <!-- <li>{{ item['Id КС'] }}</li> -->
        {% endfor %}
    </ul>


</body>
</html>